<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <button class = 'createRequest'>Run AJAX Request to Root</button>
    <button class = 'pingPong'>Run AJAX Request to Ping/Pong</button>
    <button class = 'count'>Run AJAX Request to Count</button>
    <button class = 'time'>Run AJAX Request to Time</button>
    <button class = 'car'>Run AJAX Request to a Car</button>
    <section>
      <ul class = 'car_list'></ul>
    </section>
  </body>
</html>
